<<div class="container-fluid">
    <h2 class="text-center">CREATE NEW A NEW QUOTE.</h2>
    <hr>
    <form>
        <div class="form-group">

            <div class="form-group">
  
                <label for="description">Your quote:</label>
                <textarea class="form-control" id="description" rows="4" required></textarea>
      
            </div>
  
            <label for="name">Name of the author:</label>
            <input type="text" required class="form-control" id="name">
  
        </div>
        
        <div class="form-group">
            <label for="complete">Date created:</label>
            <input type='date' id="complete" required>
  
        </div>
    </form>
  </div>
