<div class="container-fluid">
  <h3 class="text-center"><strong>Create a new quote.</strong> </h3>
  <hr>
  <form (ngSubmit)='createQuote()' #quoteInputForm='ngForm'>
    <div class="form-group">

      <div class="form-group">

        <label for="quotedescription">Your quote:</label>
        <textarea class="form-control" type="text" id="quote" rows="2" [(ngModel)]='newQuote.text'
          placeholder="Type Quote" #quoteText='ngModel' required></textarea>

      </div>

      <label for="name">Name of the author:</label>
      <input type="text" required class="form-control" id="authorName" [(ngModel)]='newQuote.authorName'
        placeholder="Type name of the author" #author='ngModel'>

    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

</div>






<!-- <div [hidden]="quoteText.valid || quoteText.pristine" class="alert alert-danger">
  <p>Text is required</p>
</div> -->

<!-- <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
  <p>Author is required</p>
</div> -->
