<h1>My quote:</h1>
<hr>
<ul>
    <div *ngFor='let quote of quotes;let i = index' class="card-body">
      <li>{{quote.authorName}}</li>
      <button (click)='toggleDetails(i)'>See quote</button>
      <!-- <app-quote-detail *ngIf='quote.showDescription' [goal]='goal' (isDisliked) = 'dislikedGoal($event,i)'></app-goal-detail> --> 


      <h5 class="card-title"> Quote: {{quote.quoteDescription}}</h5>
    <p class="card-text">Author: {{quote.authorName}} <br>
      <a href="#" class="btn btn-primary">Show Details</a>
  </div>
</ul>
  

<div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
  <div class="card-header">Author:{{quote.authorName}}</div>
  <div class="card-body">
  <p class="card-text">Quote:{{quote.quoteDescription}}</p>
  </div>
  <a href="#" class="btn btn-primary">Cancel</a>
  <a href="#" class="btn btn-primary">Display details</a>
</div>
<div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
  <div class="card-header">Header</div>
  <div class="card-body">
    <h5 class="card-title">Secondary card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
<div class="card text-white bg-success mb-3" style="max-width: 18rem;">
  <div class="card-header">Header</div>
  <div class="card-body">
    <h5 class="card-title">Success card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
<div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
  <div class="card-header">Header</div>
  <div class="card-body">
    <h5 class="card-title">Danger card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
<div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
  <div class="card-header">Header</div>
  <div class="card-body">
    <h5 class="card-title">Warning card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
<div class="card text-white bg-info mb-3" style="max-width: 18rem;">
  <div class="card-header">Header</div>
  <div class="card-body">
    <h5 class="card-title">Info card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
<div class="card bg-light mb-3" style="max-width: 18rem;">
  <div class="card-header">Header</div>
  <div class="card-body">
    <h5 class="card-title">Light card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
<div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
  <div class="card-header">Header</div>
  <div class="card-body">
    <h5 class="card-title">Dark card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
